body{
    margin:0;
    padding:0;
    font-weight: century Gothic;
    background:url("https://images.axios.com/x9MInAbwmz8n1WbQSPvkHj721No=/0x0:4157x2338/1920x1080/2019/05/01/1556722275091.jpg")no-repeat;
    background-position: center;
    background-size: cover;
}
.container{
    height:75vh;
    width: 30%;
    background: rgba(0,0, 0, .6);
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    padding:0 10px;
}
.img{
    height:70px;
    width: 70px;
    top:0%;
    background-size: cover;
    background-radius:50px;
    position: absolute;
    left: 70px;
    transform:translate(-50%,-50%)
}
.container h1{
    color:white;
    margin-top: 50px;
}
.container p{
    color:white;
    margin-top: 50px;
    font-size: 21px;
}
.btn{
    background:no-repeat;
    outline: none;
    border:1px solid white;
    color:white;
    width:50%;
    padding:7px 15px;
    font-size:large;
    cursor:pointer;
    transition: 0 is ease;
    margin-top: 50px;
}
.btn:hover{
    background: white;
    color: black;
}
*{
    padding:0px;
    margin:0px;
    box-sizing:border-box;
}

 .menu-bar{
     width:100%;
text-align:center;
box-shadow:1px 2px 4px gray;
background:rgba(2,2,2,0.2);
 }
 .menu-bar li{
     list-style-type:none;
     display:inline-block;
     padding:30px;
     margin:0px 20px;
     font-size:25px;
     font-family:san-serif;
     cursor:pointer;
     font-weight:bold;
 }
 .menu-bar li:hover{
     background:#007bff;
     color:white;
 }
 